<html>
   <body>

      <form action = "../newbar" method = "post">
        <p>Entrer Bar Name:</p>
        <p><input type = "text" name = "newb" /></p>
        <p>Entrer l'adresse:</p>
        <p><input type = "text" name = "adres"</p>
        <p>Entrer le Pays:</p>
        <p><input type = "text" name = "count"</p>
        <p>Entrer les bières (TODO):</p>
        <p><input type = "button" onclick="ajout(this)" value = "ajouter un champ" /></p>
        <p><input type = "text" name = "beers"</p>
        <p>Entrer les bières pression (TODO):</p>
        <p><input type = "text" name = "beersp"</p>
        <p>Entrer les bières bouteilles(TODO):</p>
        <p><input type = "text" name = "beersb"</p>
        <p>Entrer les horraires du lundi sous la forme "xxhmm-xxhmm" (x = heures, m = minute)</p>
        <p><input type = "text" name = "sched1"</p>
        <p>Entrer les horraires du mardi</p>
        <p><input type = "text" name = "sched2"</p>
        <p>Entrer les horraires du mercredi</p>
        <p><input type = "text" name = "sched3"</p>
        <p>Entrer les horraires du jeudi</p>
        <p><input type = "text" name = "sched4"</p>
        <p>Entrer les horraires du vendredi</p>
        <p><input type = "text" name = "sched5"</p>
        <p>Entrer les horraires du samedi</p>
        <p><input type = "text" name = "sched6"</p>
        <p>Entrer les horraires dimanche</p>
        <p><input type = "text" name = "sched7"</p>
		</select>
        <p><input type = "submit" value = "submit" /></p>
      </form>

   </body>
</html>
