<html>
   <body>

      <form action = "../newbrass" method = "post">
         <p>Entrer le nom de la brasserie:</p>
         <p><input type = "text" name = "name" /></p>
         <p>Entrer l'adresse:</p>
         <p><input type = "text" name = "adres"</p>
         <p>Entrer le pays :</p>
         <p><input type = "text" name = "count"</p>
         <p>Entrer la liste des bières (ne fonctionne pas)</p>
         <p><input type = "text" name = "beers"</p>
         <p>Entrer l'histoire:</p>
         <textarea name="past">Entrer l'histoire ici</textarea>
         <p><input type = "submit" value = "submit" /></p>
      </form>

   </body>
</html>
