<html>
   <body>

      <form action = "../newbiere" method = "post">
         <p>Entrer Biere Name:</p>
         <p><input type = "text" name = "newb" /></p>
         <p>Entrer le nom de la brasserie:</p>
         <p><input type = "text" name = "brass"</p>
         <p>Entrer le pourcentage d'alcool:</p>
         <p><input type = "text" name = "alco"</p>
         <p>Entrer le goût:</p>
         <p><input type = "text" name = "tast"</p>
         <p>Entrer les arômes:</p>
         <p><input type = "text" name = "flav"</p><br />
         <label for="type"> Type de bière </label><br />
		<select name="type" id="type">
               <option value="Blonde"> Blonde </option>
               <option value="Blanche"> Blanche </option>
               <option value="IPA"> IPA </option>
               <option value="Rouge"> Rouge </option>
               <option value="Rousse"> Rousse </option>
               <option value="Brune"> Brune </option>
               <option value="Aromatisé"> Aromatisé </option>
               <option value="Ambrée"> Ambrée </option>

		</select>
         <p><input type = "submit" value = "submit" /></p>
      </form>

   </body>
</html>
